@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bruno+Ace&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */

@font-face {
    font-family: Gries;
    src: url(Gries.Regular.otf);
}

@font-face {
    font-family: Moderniz;
    src: url(./fonts/Moderniz.otf);
}

/* default */

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}

ul {
    list-style: none;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #99CDF3;
    transition: 0.4s;
}

section {
    padding-top: 125px;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
}

/* navbar */

nav {
    background-color: black;
    font-size: 12.5px;
    font-weight: 500;
    position: fixed;
    width: 96%;
    top: 0;
    /* endsures the navbar is always on top of the rest of the page when scrolling */
    z-index: 999;
}

nav ul {
    /* flexbox, elements right aligned and vertically centered */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    /* navbar spacing */
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    /* vertically centers links within ul */
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:first-child {
    /* pushes logo to left */
    margin-right: auto;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    display: none;
    /* items go up-down instead of left-right */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}

.sidebar li, a{
    width: 100%;
    height: 50px;
}

.sidebarbutton {
    display: none;
}

@media(max-width: 840px) {
    /* turns horizontal navbar to sidebar */
    .mobilehide {
        display: none;
    }
    .sidebarbutton {
        display: block;
    }
}

@media(max-width: 400px) {
    /* sidebar takes up whole screen */
    .sidebar {
        width: 100%;
    }
}

/* sponsor us button */

#sponsorus {
    background: linear-gradient(#99CDF3, #FFFFFF); 
    height: 30px;
    border-radius: 25px;
}

#sponsorus a {
    color: black;
}

/* bg */

.back span {
    display: inline-block;
    position: absolute;
    z-index: -999;
}

.circle {
    height: 55vw;
    width: 55vw;
    background: radial-gradient(#1b446b6c, transparent 70%);
    border-radius: 50%;
}

/* home page */

.main {
    font-family: Gries, sans-serif;
    font-size: 8vw;
    line-height: 8vw;
    text-align: center;
}

.jared {
    width: 84vw;
    position: relative;
    top: -23vw;
}

/* about us */

.about {
    border-radius: 25px;
    background-color: black;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.about p {
    padding-left: 5vw;
}

.about img {
    float: right;
    width: 30vw;
    padding-left: 3vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
}

.head {
    font-family: Moderniz;
    font-size: 3vw;
}

.caption {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.35vw;
    font-weight: 250;
    padding-top: 2vw;
}

@media(max-width: 840px) {
    /* about img and text go up down */
    .about img {
        float: none;
        width: 70vw;
        padding-left: 0;
        padding-bottom: 2vw;
    }
    .about p {
        padding-right: 5vw;
    }
}

/* sponsors */

.sponsors {
    text-align: center;
}

.subhead {
    font-family: "Bruno Ace", sans-serif;
    font-size: 1.4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

/* all box settings */

.sponsors ul {
    /* aligns boxes (span) in center of page */
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sponsors li {
    background: linear-gradient(#163654, #ffffff00);
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.sponsors a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* diamond */

.diamond li {
    height: 25vw;
    width: 40vw;
}

.diamond svg, .diamond img {
    width: 30vw;
}

/* gold */

.gold li {
    height: 22.25vw;
    width: 37.5vw;
}

.gold svg, .gold img {
    width: 27.5vw;
}

/* silver */

.silver li {
    height: 20vw;
    width: 35vw;
}

.silver svg, .silver img {
    width: 25vw;
}

/* bronze */

.bronze li {
    height: 17.5vw;
    width: 32.35vw;
}

.bronze svg, .bronze img {
    width: 17.5vw;
}

/* sponsorus */

/*
.sponsorus {
    text-align: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15vw;
}

.pkg {
    height: 5vw;
    width: 25vw;
    background-color: white;
    color: black;
    border-radius: 18px;
    line-height: 5vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
}

.contact {
    display: flex;
    width: 12vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
}

.contact svg {
    height: 3vw;
    padding-left: 5px;
    padding-right: 5px;
}
*/

/* footer */

.foot {
    height: 5vw;
}

/* meet the team */

/* nav */

.smalldiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

#meetnav {
    width: 90vw;
}

.smalldiv svg {
    padding-left: 50px;
    padding-right: 50px;
    width: 40px;
}

.smalldiv svg:hover {
    fill: #99CDF3;
    transition: 0.3s;
}

.smallnav {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top: 3px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.smallnav::-webkit-scrollbar {
    display: none;
}

.dropbutton, .link {
    padding-left: 18px;
    padding-right: 18px;
    font-family: "Hanken Grotesk";
    transform: scaleY(0.92);
    font-weight: 250;
    font-size: 16px;
    cursor: grab;
}

.dropbutton:hover, .link:hover {
    color: #99CDF3;
    transition: 0.4s;
}

.link.active {
    color: #d4edff;
}

/* the team */

.meetteam .tab {
    display: none;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.meetteam .tab ul {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 30px;
}

.meetteam .tab li {
    width: 235px;
    height: 485px;
}

.meetteam .tab img {
    width: 235px;
}

.name {
    font-family: "Bruno Ace", sans-serif;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.role {
    font-family: "Hanken Grotesk";
    font-size: 13.5px;
    font-weight: 275;
    line-height: 18px;
    font-style: italic;
}

.description {
    padding-top: 9px;
    font-family: "Hanken Grotesk";
    font-size: 12px;
    font-weight: 250;
}

.meet {
    float: right;
    padding-top: 8px;
}

.meet svg {
    width: 18px;
}

/* gallery */

.gallery {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 50px;
    padding-top: 112px;
}

/* photo grid */

.photoside {
    overflow: auto;
    /* adjust width of ls based on rs */
    flex-grow: 1;
    padding-right: 50px;
}

.photos > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.photos {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.photos img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.photos .tall {
    grid-row: span 2;
}

.photos .big {
    grid-row: span 2;
    grid-column: span 2;
}

/* navbar dropdown */

.dropcontent {
    padding-top: 15px;
    opacity: 0;
    z-index: 999;
    position: absolute;
    transition: all 0.4s ease;
    background-color: black;
    width: 120px;
}

.dropcontent button {
    display: block;
    padding-bottom: 10px;
    color: lightgrey;
    white-space: wrap;
    text-align: left;
}

.dropcontent button:last-child {
    padding-bottom: 20px;
}

.dropdown:hover .dropcontent {
    opacity: 1;
}

/* videoplayer */

.vidplayer {
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
    width: 400px;
    height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.vidplayer::-webkit-scrollbar {
    display: none;
}

.vidmask {
    border-radius: 25px;
    width: 400px;
    overflow: hidden;
}

.vidmask video {
    padding-bottom: 25px;
    width: 400px;
}

.vidplayer .caption {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
}

/*** IDK WHY I HAD TO DO THIS, FIGURE IT OUT ***/

#gallerybar {
    overflow: hidden;
    padding-bottom: 25px;
}

.galleryarrow {
    display: flex;
}

/* minimize & maximize buttons */

.minimize, .maximize {
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: inline-block;
    position: fixed;
    z-index: 999;
}

.minimize {
    top: 150px;
    right: 6vw;
}

.maximize {
    bottom: 50px;
    right: 50px;
}

.minimize:hover, .maximize:hover{
    cursor: grab;
}

/* adjust flexbox when vw is small enough */

@media(max-width: 840px) {
    /* turns horizontal navbar to sidebar */
    .gallery {
        display: block;
        padding-top: 100px;
    }
    .minimize, .maximize, .vidplayer{
        display: none !important;
    }
    .photoside {
        padding-right: 0px;
    }
}

@media(max-width: 600px) {
    .photos .big, .photos .tall {
        grid-row: span 1;
        grid-column: span 1;
    }
}

/* tab controls scrolling through years */

#comp23 {
    display: block;
}

.gallery .tab, .gallery .vidplayer {
    display: none;
}