@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bruno+Ace&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */

@font-face {
    font-family: Gries;
    src: url(fonts/Gries.otf);
}

@font-face {
    font-family: Moderniz;
    src: url(fonts/Moderniz.otf);
}

/* default */

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
}

ul {
    list-style: none;
}

a, a:visited, a:focus {
    text-decoration: none;
    color: white;
    cursor: grab;
}

a:hover, .link:hover {
    color: #99CDF3;
    transition: 0.4s;
}

section {
    padding-top: 125px;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
}

/* navbar */

nav {
    background-color: black;
    font-size: 12.5px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    top: 0;
    /* endsures the navbar is always on top of the rest of the page when scrolling */
    z-index: 999;
}

nav ul {
    /* flexbox, elements right aligned and vertically centered */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    /* navbar spacing */
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    /* vertically centers links within ul */
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:first-child {
    /* pushes logo to left */
    margin-right: auto;
}

.sidebarbutton {
    display: none;
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    display: none;
    /* items go up-down instead of left-right */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;
}

.sidebar li, a{
    width: 100%;
    height: 50px;
}

@media(max-width: 840px) {
    /* turns horizontal navbar to sidebar */
    .mobilehide {
        display: none !important;
    }
    .sidebarbutton {
        display: block;
    }
}

@media(max-width: 400px) {
    /* sidebar takes up whole screen */
    .sidebar {
        width: 100%;
    }
}

/* sponsor us button */

#sponsorus {
    background: linear-gradient(#99CDF3, #FFFFFF); 
    height: 30px;
    border-radius: 25px;
    margin-right: 2%;
}

#sponsorus a {
    color: black;
    font-weight: 600;
}

/* bg */

.back span {
    display: inline-block;
    position: absolute;
    z-index: -999;
}

.circle {
    height: 55vw;
    width: 55vw;
    background: radial-gradient(#1b446b6c, transparent 70%);
    border-radius: 50%;
}

/* universal elements */
/* navbar dropdown */

.dropdown {
    display: flex;
    justify-content: center;
}

.dropcontent {
    opacity: 0;
    z-index: 999;
    position: absolute;
    transition: all 0.4s ease;
    background-color: black;
}

.dropcontent button, .dropcontent a {
    display: block;
    color: lightgrey;
    white-space: wrap;
    text-align: center;
    padding-bottom: 15px;
}

.dropcontent button:last-child .dropcontent a:last-child {
    padding-bottom: 20px;
}

.dropdown:hover .dropcontent {
    opacity: 1;
}

.mainbar .dropcontent {
    top: 65px;
    width: 92px;
}

.dropcontent a:hover {
    color: #99CDF3;
}

/* small navbar */

.smalldiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.smalldiv svg {
    padding-left: 50px;
    padding-right: 50px;
    width: 40px;
}

.smalldiv svg:hover {
    fill: #99CDF3;
    transition: 0.3s;
}

.smallnav {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    padding-top: 3px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.smallnav::-webkit-scrollbar {
    display: none;
}

.dropbutton, .link {
    padding-left: 18px;
    padding-right: 18px;
    font-family: "Hanken Grotesk";
    transform: scaleY(0.92);
    font-weight: 250;
    font-size: 16px;
    cursor: grab;
}

.link.active {
    color: #d4edff;
}

/* text styles */

.head {
    font-family: Moderniz, sans-serif;
    font-size: 3vw;
}

.caption {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.35vw;
    font-weight: 250;
}

@media(max-width: 600px) {
    .caption {
        font-size: 8.5px;
    }
}

/* footer */

.foot {
    height: 75px;
}

